@media only screen and (min-width: 1024px) {
  .main-story-container li a {
    color: red;
    margin-top: 10px;
    display: block;
    border-right: 1px solid red;
    float: left;
    padding: 0 10px;
  }

  .border-right {
    border-right: none;
  }

  .main-story-container {
    grid-template-columns: 24% 24% 24% 24%;
    max-width: 100%;
    column-gap: 10px;
  }

  .headings {
    grid-column: 1 / span 4;
  }

  .main-story-container ul {
    list-style: none;
    display: flex;
    position: relative;
    float: right;
  }

  .main-story-container h2 {
    float: left;
  }

  .fourth-story {
    display: flex;
  }

  .option-menue {
    display: flex;
  }

  .header-logo {
    display: none;
  }

  .middle-menue {
    margin-left: 0;
  }

  .option-left {
    margin-left: 0;
  }

  /* news section */

  .news1 {
    flex: 0 0 25%;
  }

  /*      CATEGORIES      */

  .categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
