* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 7em;
}

nav {
  width: 100%;
  display: flex;
  height: 43%;
  justify-content: space-between;
}

.header-logo {
  height: 100%;
  width: 6.5em;
  background-color: black;
  text-align: center;
}

#logo {
  width: 4.1em;
  height: 4.1em;
  display: inline-block;
  position: relative;
  bottom: 10px;
}

nav ul {
  list-style-type: none;
}

.icon-size {
  height: 20px;
  width: 20px;
  color: #ccc;
  background-color: red;
}

.right-icons {
  background-color: lawngreen;
  width: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-anchor {
  width: 10px;
  height: 50px;
  background-color: lemonchiffon;
}

.announcement {
  background-color: hsl(50, 100%, 60%);
  height: 57%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import url("../fonts/stylesheet.css");

ul {
  list-style: none;
}

footer.page-footer {
  display: flex;
  flex-direction: column;
}

/* Footer Links ============== */
.footer-links {
  background-color: #131313;
  padding: 35px 20px;
}

ul.social-links {
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul.social-links li {
  margin: 3px 3px;
  display: inline-block;
}

.social-links .social-icon {
  padding: 12px;
  background-color: #333;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links .social-icon svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

ul.footer-nav-links {
  padding: 0;
  text-align: center;
}

ul.footer-nav-links li {
  text-align: center;
  display: inline-block;
  margin: 0 4px;
}

ul.footer-nav-links li a {
  text-decoration: none;
  color: #aaa;
  font-family: "Shentox", sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 24px;
}

/* Footer Legal ================ */
.footer-legal {
  padding: 32.5px 20px;
  background-color: #000;
  color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Google-Sans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.footer-logo {
  display: inline-block;
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
}
